In [2]:
import pandas as pd
import numpy as  np

In [3]:
#Read all the data in
data1 = pd.read_csv('data\glassdoor_jobs_data1.csv')
data2 = pd.read_csv('data\glassdoor_jobs_data2.csv')
data3 = pd.read_csv('data\glassdoor_jobs_dataanalyst.csv')
data4 = pd.read_csv('data\glassdoor_jobs_datascientist.csv')
data5 = pd.read_csv('data\glassdoor_jobs_findeveloper.csv')
data6 = pd.read_csv('data\glassdoor_jobs_market_risk.csv')
data7 = pd.read_csv('data\glassdoor_jobs_python.csv')
data8 = pd.read_csv('data\glassdoor_jobs_quant_developer.csv')
data9 = pd.read_csv('data\glassdoor_jobs_regression.csv')
data10 = pd.read_csv('data\glassdoor_jobs_econometrics.csv')
data11 = pd.read_csv('data\TEMP_glassdoor_jobs.csv')

In [18]:
# check the total length of the data
datas = [data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, data11]
sum([len(i) for i in datas])

5587

In [5]:
# Merge the data together
df= pd.concat(datas)

In [6]:
#Remove duplicaes and reset the index since there weere duplicates from the merge
df = df.drop_duplicates().reset_index(drop=True)

In [7]:
# Replace all the -1s to be NaN
df[df==-1]=np.nan
df.replace('-1', np.nan,inplace=True)

In [19]:
# Some rows have too many missing fields
#df.isnull().sum()
df.isnull().sum(axis=1).value_counts().sort_index()

0     885
1     540
2     117
3      73
4      39
5       6
6      66
7      33
8       3
9      42
10     16
11      1
12    103
dtype: int64

In [9]:
# Remove any rows with more than 11 missing values
df.drop(index=df[df.isnull().sum(axis=1)>11].index, inplace=True)
# Remove any rows that are missing company names
df.drop(index=df[df['Company'].isnull()].index, inplace=True)

In [12]:
# Split the company ratings out from the company names
df[["Company", "comp_rate"]] = df['Company'].str.split('\n', expand=True)
len(df[df['Salary'].isna()])

508

In [13]:
df

,Company,Job title,Location,Salary,Salary estimate,Employees,Founded,Company type,Company industry,Company sector,Company revenue,Career opportunities,Comp & Benefits,Culture & Values,Senior Management,Work/Life Balance,Description,comp_name,comp_rate
0,DaVita,Senior Legal Counsel - Data Privacy,"London, England",£110K - £117K (Glassdoor Est.),"£113,310 /yr (est.)",10000+ Employees,1994.0,Company - Public,Healthcare Services & Hospitals,Healthcare,$2 to $5 billion (USD),3.4,3.2,3.4,2.9,3.0,DaVita International delivers dialysis care to...,DaVita,3.4
1,Catch22,Data Administrator – Contractual Governance,"London, England",£110K - £117K (Glassdoor Est.),"£11,929 /yr (est.)",1001 to 5000 Employees,1788.0,Non-profit Organisation,"Civic, Welfare & Social Services",Non-profit & NGO,$25 to $50 million (USD),3.6,3.1,3.9,3.7,3.7,Company Description\n\nCatch22 exists to help ...,Catch22,3.8
2,Haver Analytics,Economic Data Manager,"London, England",£110K - £117K (Glassdoor Est.),"£28,500 /yr (est.)",51 to 200 Employees,1978.0,Company - Private,Business Consulting,Management & Consulting,$25 to $50 million (USD),2.7,3.1,3.7,3.3,3.9,NYC based company has entry level positions av...,Haver Analytics,3.6
3,Network Homes,Reports and Data Officer (12 Month Maternity C...,"Hertford, England",£110K - £117K (Glassdoor Est.),"£32,290 /yr (est.)",501 to 1000 Employees,2016.0,Company - Private,Construction,"Construction, Repair & Maintenance Services",Unknown / Non-Applicable,3.5,3.7,4.3,3.7,3.7,Reports and Data Officer (12 Month Maternity C...,Network Homes,4.0
4,Adeccogroup,Data Visualisation Manager (Hybrid/Remote),"London, England",£110K - £117K (Glassdoor Est.),NaN,10000+ Employees,NaN,Company - Public,HR Consulting,Human Resources & Staffing,$10+ billion (USD),3.6,3.3,3.7,3.5,3.8,About the role\nWe currently have an exciting ...,Adeccogroup,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Janus Henderson,Junior Business Analyst,"London, England",NaN,"£79,853 /yr (est.)",1001 to 5000 Employees,2017.0,Company - Public,Stock Exchanges,Finance,Unknown / Non-Applicable,3.6,4.1,4.1,3.6,4.3,Why work for us?\n\n\nJanus Henderson is a lea...,Janus Henderson,4.2
1996,Janus Henderson,Business Analyst (Fixed Term Contract),"London, England",NaN,"£79,853 /yr (est.)",1001 to 5000 Employees,2017.0,Company - Public,Stock Exchanges,Finance,Unknown / Non-Applicable,3.6,4.1,4.1,3.6,4.3,Why work for us?\n\n\nJanus Henderson is a lea...,Janus Henderson,4.2
1997,Janus Henderson,Business Analyst (Fixed Term Contract),"London, England",NaN,"£79,853 /yr (est.)",1001 to 5000 Employees,2017.0,Company - Public,Stock Exchanges,Finance,Unknown / Non-Applicable,3.6,4.1,4.1,3.6,4.3,Why work for us?\n\n\nJanus Henderson is a lea...,Janus Henderson,4.2
1998,Janus Henderson,Enterprise Data Steward - Analyst,"London, England",NaN,"£31,037 /yr (est.)",1001 to 5000 Employees,2017.0,Company - Public,Stock Exchanges,Finance,Unknown / Non-Applicable,3.6,4.1,4.1,3.6,4.3,We are a leading independent global asset mana...,Janus Henderson,4.2
1999,Janus Henderson,Junior Business Analyst,"London, England",NaN,"£79,853 /yr (est.)",1001 to 5000 Employees,2017.0,Company - Public,Stock Exchanges,Finance,Unknown / Non-Applicable,3.6,4.1,4.1,3.6,4.3,Why work for us?\n\n\nJanus Henderson is a lea...,Janus Henderson,4.2